.item {
    position: relative;
    padding: 10px 0;
    width: calc((100% - 20px) / 5);
    align-items: center;
    background-color: rgb(228, 222, 222); 
    border-radius: 5px;   
}

.name {
    margin-bottom: 10px;
    text-align: center;
}

.avatar {
    margin:0 auto 15px;
    
}